name: Cron Test

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  test-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Tampilkan waktu
        run: |
          echo "Cron jalan"
          date -u
